# Outline


### I. Markdown

https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf

### II. Python

In [1]:
### Comments

In [2]:
# This is a code cell.
# Normally, this means that anything in it will be interpreted in Python code.
# However, by putting the character "#" in front of your line of text, it will be ignored

### Python as a calculator

#### Operators

In [3]:
### Addition, subtraction, multiplication, division

In [4]:
2+2 # sample addition operation

4

In [5]:
2-2

0

In [6]:
2*2

4

In [7]:
3/2

1.5

In [8]:
3//2

1

In [9]:
3%2

1

In [10]:
### floor division, which returns only the whole number

In [11]:
3//2

1

In [12]:
### raising to a power (exponents)

In [13]:
2**2

4

In [14]:
2**3

8

In [15]:
4**3

64

In [16]:
4**(-2)

0.0625

In [17]:
# Arithmetic operators follow PEMDAS

### Values

A **value** is one of the basic things a program works with:

In [18]:
17

17

In [19]:
2

2

In [20]:
"Hello, 'World!'"

"Hello, 'World!'"

### Variables
Variables are named containers for values.

In math, a variable may be assigned by saying:
let x = 10

Variables allow you to access values after they have been created.

You can **bind** a variable to a value using the **assignment** (=) operator.

In [21]:
# demo

In [22]:
Variable values can be changed.

SyntaxError: invalid syntax (<ipython-input-22-944bc604a9a4>, line 1)

In [23]:
# demo

#### Side notes:
Choose names that are meaningful  
* What is it used for?
* What does it represent?

May contain letters, digits, and underscores  

But it cannot begin with a digit  

Cannot be keywords in Python (class, is, finally, or, not, try, etc...)

In [24]:
# demo: valid or invalid?

#### Expressions

A combination of **values**, **variables** and **operators** that evaluate into a single value

In [25]:
# demo

In [26]:
2+4

6

In [27]:
# arithmetic operators: +, -, *, /, **, //, %

In [28]:
# demo: PEMDAS (parenthesis, exponents, multiplication, division, addition, subtraction.)

In [29]:
### Interactive Mode vs Script Mode
miles = 26.2
miles * 1.61

42.182

In [30]:
miles = 26.2
print(miles * 1.61)

42.182

### Data Types

Not every variable needs to be a number.

Variables can take on many different data types. These are:

* **integers**, which are numbers with no decimal points, 
* **floats**, which are numbers with decimal points, 
* **strings**, which are "strings" of characters, and 
* **booleans**, which are truth values (either **True** or **False**).

In [31]:
### integers

In [32]:
type(17)

int

In [33]:
type(-20)

int

In [34]:
### floats

In [35]:
type(4.0)

float

In [36]:
### strings

In [37]:
type("Hello, World!")

str

In [38]:
type("the quick brown fox jumps over the lazy dogs")

str

In [39]:
# String operations
# we cannot perform mathematical operations on strings
# (PLUS) + works with strings to concatenate them

In [40]:
# illustrate: concatenate
"first string" + " " + "second string"

'first string second string'

In [41]:
# illustrate: repeat string
'test '*5

'test test test test test '

In [42]:
False

False

In [43]:
### booleans

### the boolean type stores one of two possible values: True or False

### Comparison Operators:
# < less than
# <= less than or equal to
# > greater than
# >= greater than or equal to
# == equal to
# != not equal to

In [44]:
# illustrate: boolean expressions

5 > 0

True

In [45]:
-5 <= -8

False

In [46]:
5 == 5

True

In [47]:
"The" == "THE"

False

In [48]:
x = 8
print(x)

8

In [49]:
x = 100
print(x + 2)

102

#### String concatenation

In [50]:
"string " + "concatenation"

'string concatenation'

In [51]:
"concat a number like " + str(2)

'concat a number like 2'

In [52]:
type(2)

int

In [53]:
type(str(2))

str

In [54]:
price = 110
qty = 1
total = price * qty
print("Subtotal:"+str(total))

qty = qty + 1
total = price * qty
print("Subtotal:"+str(total))

print("Less: Senior Citizen Discount")
discounted_amt = total * .72

print("Net amount: "+str(discounted_amt))

Subtotal:110
Subtotal:220
Less: Senior Citizen Discount
Net amount: 158.4

In [55]:
type(12 * 2.)

float

In [ ]:
# Logical operators
# not - negates a boolean value
# and - checks two boolean values. If both are True, yields True; otherwise, yields False
# or - checks two boolean values. If at least one value is True, yields True; otherwise, yields False

In [18]:
# illustrate: logical operators

In [9]:
type(False)

bool

### Accepting Input

Python provides a built-in function input()

When this function is called, the program stops and waits for the user to type something

The program resumes when the user presses Return or Enter

In [58]:
### illustrate: input()

product_code = input("Enter product code")
qty = input("Enter quantity")

print("You entered :"+product_code)
print("You entered the quantity :"+qty)

Enter product codecappuccino
Enter quantity1
You entered :cappuccino
You entered the quantity :1

In [5]:
### Logic Operators (Booleans)

### if-elif-else statements

**if** statements evaluate conditions and separate code into different branches.

In [61]:
# illustration

x = 3

if(x>5):
    print("Higher")
else:
    print("Lower")

Lower

In [56]:
magicnumber = 5

guess = int(input("Guess number: "))

if(guess==magicnumber):
    print("You guessed it right")
elif(guess>magicnumber):
    print("Lower")
else:
    print("Higher")

Guess number: 5
You guessed it right

In [7]:
### Loops

In [ ]:
# while loop

guess = 0
magicnumber = 5

while(guess!=magicnumber):
    guess = int(input("Guess number: "))

    if(guess==magicnumber):
        print("You guessed it right")
    elif(guess>magicnumber):
        print("Lower")
    else:
        print("Higher")
        
print("End of program.")

In [ ]:
# Variation of while loop using "break"

guess = 0
magicnumber = 5

while(True):
    guess = int(input("Guess number: "))

    if(guess==magicnumber):
        print("You guessed it right")
        break
    elif(guess>magicnumber):
        print("Lower")
    else:
        print("Higher")
        
print("End of program.")

In [ ]:
### More complex data types

In [ ]:
### Lists

In [ ]:
### Dictionaries

In [6]:
### Logical Expressions

In [8]:
### Functions

# A More In-Depth Tutorial
There are many resources available online. We recommend that you go through them to further sharpen your Python skills.

https://docs.python.org/3/tutorial/